<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AngularJs单元测试</title>
</head>
<body ng-controller="testCtrl">
  <h1 id="abc" ng-bind="pageTitle"></h1>
  <ul>
    <li ng-repeat="info in infos"><input type="checkbox" ng-model="info.checked" /> {{ info.name }} </li>
  </ul>
  <button class="get-info-btn" ng-click="getInfo()">get infos</button>
  <script src="../public/angular/angular.min.js"></script>
  <script src="./app.js"></script>
</body>
</html>